<h3>This is the index.</h3>

<p>We don't really know where this goes - and I'm not sure we really care. Now then, let's play. If these lines aren't straight, your water's going to run right out of your painting and get your floor wet. Just relax and let it flow. That easy.</p>

<p>There are no mistakes. You can fix anything that happens. Isn't it great to do something you can't fail at? Let's have a little bit of fun today. And that's when it becomes fun - you don't have to spend your time thinking about what's happening - you just let it happen. If you didn't have baby clouds, you wouldn't have big clouds. Once you learn the technique, ohhh! Turn you loose on the world; you become a tiger.</p>

<p>Trees cover up a multitude of sins. Trees grow however makes them happy. It's important to me that you're happy. This is gonna be a happy little seascape Now, we're going to fluff this cloud.</p>

<p>Absolutely no pressure. You are just a whisper floating across a mountain. Follow the lay of the land. It's most important. We start with a vision in our heart, and we put it one canvas.</p>

<p>Just think about these things in your mind and drop em' on canvas. A happy cloud. See there how easy that is.</p>

<p>If there's two big trees invariably sooner or later there's gonna be a little tree. Only God can make a tree - but you can paint one. All kinds of happy little splashes. Nice little clouds playing around in the sky.</p>

<p>A tree needs to be your friend if you're going to paint him. It's life. It's interesting. It's fun. You have freedom here. The only guide is your heart.</p>

