<div class="home-hero">
  <img class="home-hero-gravatar"
    title="Michael Hoyle's Gravatar"
    alt="Michael Hoyle's Gravatar"
    src="https://secure.gravatar.com/avatar/f27819c63207c4392d322a7887d98f8a?s=200"/>
  <h1 class="home-hero-name">Michael Hoyle</h1>
  <h2 class="home-hero-levelandclass">Level 27 Geek</h2>
</div>

<div class="home-attributes">
  <ul class="home-attributes-list">
    <li class="home-attributes-item">Person</li>
    <li class="home-attributes-item">Male</li>
    <li class="home-attributes-item">Human</li>
    <li class="home-attributes-item">Who does things with computers</li>
  </ul>
</div>

<div class="home-links">
  <ul class="home-links-list">
    <li class="home-links-item">
      {{#link-to "blog"}}
        Blog
      {{/link-to}}
    </li>
    <li class="home-links-item">
      <a class="link"
        title="Michael Hoyle's Github"
        href="https://www.github.com/hoylemd">
        Github
      </a>
    </li>
    <li class="home-links-item">
      <a class="link"
        title="Michael Hoyle's resume"
        href="https://docs.google.com/document/d/1pPOru3X8qhGo0uxgpt4G6lYsTyyEW7K8FUNyieVDiTg/edit?usp=sharing">
        Resume
      </a>
    </li>
    <li class="home-links-item">
      {{#link-to "stuff"}}
        Stuff
      {{/link-to}}
    </li>
  </ul>
</div>

<div class="home-contact">
  <a class="link email"
    title="Michael Hoyle's Email"
    href="mailto:mike@michaelhoyle.com">
    Email
  </a>
  <a class="link twitter"
    title="Michael Hoyle's Twitter"
    href="https://www.twitter.com/michaelhoyle">
    Twitter
  </a>
</div>
